aside {
    margin: 2%;
    padding: 2%;
}

#map {
    float: left;
    height: 500px;
    width: 750px;
}

#profile {
    float: right;
}

#variables {
    padding-left: 10px;
}

#alertes {
    clear: left;
}